<?xml version="1.0"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="PMS.Libraries.ToolControls.PMSPublicInfo.Properties.Settings.PMSCenterConnectionString" connectionString="Data Source=RDDBSERVER\SQL2005;Initial Catalog=PMSCenter;Persist Security Info=True;User ID=sa;Password=456" providerName="System.Data.SqlClient"/>
    <add name="PMS.Libraries.ToolControls.PMSPublicInfo.Properties.Settings.PMSCenterConnectionString3" connectionString="Data Source=RUBYBLUE-LAPTOP\SQL2005;Initial Catalog=PMSCenter;Persist Security Info=True;User ID=sa" providerName="System.Data.SqlClient"/>
    <add name="PMS.Libraries.ToolControls.PMSPublicInfo.Properties.Settings.PMSCenterConnectionString1" connectionString="Data Source=RUBYBLUE-LAPTOP\SQL2005;Initial Catalog=PMSCenter;Persist Security Info=True;User ID=sa;Password=123" providerName="System.Data.SqlClient"/>
    <add name="PMSCenterDataContext" connectionString="metadata=res://*/PMSCenter.csdl|res://*/PMSCenter.ssdl|res://*/PMSCenter.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.0.171\sql2005;Initial Catalog=PMSCenter;Persist Security Info=True;User ID=sa;Password=123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <runtime>
    <generatePublisherEvidence enabled="false" />
  </runtime>
</configuration>
